.stat-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: .8rem;
    align-items: start;

    margin: 15px 15%;
}

.stat-item {
    border-radius: .4rem;
    padding: .5rem .5rem;

    font-weight: 600;
}

.stat-item .count {
    display: flex;
    align-items: center;

    font-size: 1.65rem;
}

.stat-item .diff {
    display: inline-block;
    font-size: 1rem;

    margin-left: 5px;
}

.stat-item .label {
    margin-bottom: 5px;
    font-size: 1.1rem;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.stat-list .confirmed {
    background-color: #A62832;
    color: #FBFFFE;
}

.stat-list .recovered {
    background-color: #28A654;
    color: #FBFFFE;
}

.stat-list .dead {
    background-color: #596666;
    color: #FBFFFE;
}

.stat-list .active {
    background-color: #E67237;
    color: #FBFFFE;
}

.stat-list .tested {
    background-color: #1F7E80;
    color: #FBFFFE;
}

.stat-list i {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .stat-list {
        margin: 20px 5%;
    }
}