header {
    background-color: #1E1E1E;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
}

.header-logo {
    padding: 15px 0 15px 15%;

    color: #E84855;
    font-size: 3rem;
    font-weight: 400;
}

.header-updated {
    color: white;
    padding: 15px 15% 15px 0;

    font-size: 1.1rem;
}

.mobile-space {
    display: inline-block;
}
.updated {
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    header {
        align-items: flex-end;
    }
    .header-logo {
      font-size: 2.5rem;
      padding: 15px 0 15px 5%;

    }
    .header-updated {
        padding: 15px 5% 15px 0;
        font-size: 1rem;
    }
    .mobile-space {
        display: block;
    }
}