header {
    background-color: #1E1E1E;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-logo {
    float: left;
    padding: 15px 0 15px 15%;

    color: #E84855;
    font-size: 3rem;
    font-weight: 400;
}

.header-updated {
    color: white;
    padding: 5px 15% 5px 0;

    float: right;
    font-size: 1.1rem;
}