.region-nav {
    display: flex;
    flex-wrap: wrap;

    margin-top: 25px;
    font-size: .85rem;
    font-weight: 500;
}

.region-btn {
    color: #FCF6F5;
    background-color: #990011;

    margin: 0 10px 10px 0;
    padding: 10px;
    min-width: 115px;
    border-radius: 5px;

    text-decoration: none;
}
.region-btn:hover {
    color: #990011;
    background-color: #FCF6F5;
}
.region-btn:active {
    color: #FCF6F5;
    background-color: #990011;
}

.region-nav-info {
    color: #FCF6F5;
}