.region-nav {
    display: flex;
    flex-wrap: wrap;

    margin-top: 15px;
    font-size: .85rem;
    font-weight: 500;
}

.region-btn {
    color: #FBFFFE;
    background-color: #A62832;

    margin: 10px 10px 10px 0;
    padding: 10px;
    min-width: 100px;
    border-radius: 5px;

    text-decoration: none;
}
.region-btn:hover {
    color: #A62832;
    background-color: #FBFFFE;
}
.region-btn:active {
    color: #FBFFFE;
    background-color: #A62832;
}

.region-nav-info {
    margin-top: 10px;
    color: #FBFFFE;
}