footer {
  margin-top: 50px;
  background-color: #1E1E1E;
  color: #FCF6F5;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 50px 15%;
  min-height: 225px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80%;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.footer-source {
  font-size: 0.85rem;
  margin-top: 50px;
}

.footer-desc {
  line-height: 1.5rem;
}

.footer-source a {
  color: inherit;
}

.footer-right {
  display: flex;
  flex-direction: column-reverse;
}

.footer-socials a {
  color: inherit;
  font-size: 1.65rem;
  margin-right: 0.25rem;
}

.footer-socials {
  margin-top: 50px;
}

#linkedin:hover {
	color: #0e76a8;
}
#ig:hover {
	color: #dd2a7b;
}
#fb:hover {
	color: #3b5998;
}
#github:hover {
	color: #333;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 50px 5%;
  }
  .footer-socials a {
    font-size: 45px;
    margin-right: 10px;
  }
  .footer-left {
    max-width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  footer {
    padding: 50px 10%;
  }
}


