.region-wrapper {
    margin: 20px 15%; 
}

.region-area {
    border: 15px solid #990011;   
    border-radius: 10px;

}

.region,
.map {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.region {
    overflow: hidden;
}

.map {
    flex: 3 1 50ch;
	height: calc(282px + 5vw);
    overflow: hidden;
}

.map img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
    object-position: 50% 50%;

}

.data-board {
    flex: 4 1 40ch;
    background-color: #FCF6F5;
    border-left: 15px solid #990011;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 15px 0 15px 0;
    color: #FCF6F5;
    background-color: #990011;
}

.region-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.data-board .count {
    font-size: 1.85rem;
    font-weight: 500;
    margin-top: 1px;

    display: flex;
    align-items: center;
}

.data-board .diff {
    font-size: 1.35rem;
    display: inline-block;
}

.data-board .label {
    font-size: 1rem;
    font-weight: 500;
}

.data-board .stat {
    color: #FCF6F5;
}

.prefecture-area {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: .8rem;
    align-items: start;

    margin: 20px 0 20px 15px;
    padding-right: 10px;

}

.prefecture {
    border-radius: 0 1rem 0 1rem;
    background-color: #990011;
    color: #FCF6F5;

    padding: .75rem;
}

.prefecture .name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.prefecture .label {
    color: #FCF6F5
}

.prefecture .count {
    color: #FCF6F5
}

.share-btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 15px;
}

.share-btn-wrapper .tooltiptext {
    color: #fff;
    text-align: center;
    border-radius: 6px;
    
    margin-right: 15px;
}

.share-btn-wrapper .hidden {
    visibility: hidden;
}

.share-btn {
    color: #FCF6F5;
    background-color: #990011;

    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
}

.share-btn:hover {
    color: #990011;
    background-color: #FCF6F5;
}
.share-btn:active {
    color: #FCF6F5;
    background-color: #990011;
}

.green {
    background-color: #028D2C;
}
.stats {
    margin-left: 30px;
    flex-grow: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .region-wrapper {
        margin: 20px 5%; 
    }
    .data-board {
        border-left: 0;
    }
    .title-wrapper{
        padding: 15px 0;
    }
    .stats {
        padding-top: 15px;
        margin: 0 15px;
    }
    
    .region-name {
        padding-left: 10px;
    }
}